$backgroundGrey: #424456;
$blue: #525aee;
$blueHover: #5c6fac;
$red: #ff6f75;
$green: #00d99f;
$grey: #9b9b9b;
$borderGrey: #2e3042;
$black: #505d6f;
$white: #1B1C2E;

$title: #1F2034;
$backgroundPanel: $white;
$textBox: #303147;