@import '../../styles/variables.scss';
$border-color: hsla(0, 0%, 100%, .1);

.stateBar {
  position: relative;
  overflow: auto;
  background: rgba(26,27,44,1);
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 40px;

  :global {
    .dropdown.navbar-nav {
      margin: auto 0px;
    }
  }
}

.stateBar:global(::-webkit-scrollbar) {
  display: none;
}

.stateBarContainer {
  display: flex;
  border-top: 1px solid $borderGrey;
  border-bottom: 1px solid $borderGrey;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  padding: 0 12px;
  width: 100%;
}

.subitem {
  display: flex;
  text-align: center;
  padding-right: 24px;
  -ms-flex-align: center;
  align-items: center;
}