@import '../../styles/variables.scss';

.StateBar {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 0;

      &:hover {
        background-color: $backgroundGrey;
      }
    }

    .nav-dropdown-overlay {
      position: absolute;
      left: 0px !important;
      // width: 30%;
    }
  }
}

.state-block {
  height: auto;
  font-size: 12px;
  padding-top: 7px;
  border:1px solid rgb(57, 60, 80);
  background: linear-gradient(-90deg, rgba(26, 27, 44, 1) 0%, rgba(42, 43, 64, 1) 100%);
  
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.stateButton {
  height: 21px;
  font-size: 12px;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
}

.subitem {
  margin-right: 10px;
}

.stateItem {
  color: white;
}

.subText {
  margin: 0 10px 0 10px;
  color:white;
}